*.o
.deps
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
psplash
psplash-console.o
psplash-fb.o
psplash-write
psplash-write.o
psplash.o
stamp-h1
